<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.min.js"></script>
  <title>websocket</title>
</head>

<body>

  <div id="app">
    <div v-if="isShow">
      <p>昵称: <input type="text" v-model="name"></p>
      <p>房间号: <input type="text" v-model="roomid"></p>
      <button type="button" @click="enter">进入聊天室</button>
    </div>
    <div v-else>
      <ul>
        <li v-for="(item,index) in lists" :key="index">{{item}}</li>
        <li>在线人数{{num}}</li>
      </ul>
      <div class="ctrl">
        <input type="text" v-model="message">
        <button type="button" @click="send">发送消息</button>
        <!-- <button type="button" id="app">点击断开websocket</button> -->
      </div>
    </div>
  </div>
  <script>

    var app = new Vue({
      el: '#app',
      data() {
        return {
          message: '',
          lists: [],
          ws: {},
          name: '',
          isShow: true,
          num: 0, //聊天室的人数
          roomid: '', //聊天室id
          handle:{} //定时器
        }
      },
      mounted() {
      },
      methods: {
        //websocket初始化
        init() {
          //初始化websocket
          this.ws = new WebSocket('ws://127.0.0.1:3000')
          this.ws.onopen = this.onOpen
          this.ws.onmessage = this.onMessage
          this.ws.onclose = this.onClose
          this.ws.onerror = this.onError
        },
        onOpen() {
          //发起鉴权请求(直接给令牌，拿着令牌去连接服务器)
          this.ws.send(JSON.stringify({
            event: 'auth',
            //jwt token
            //自己生成的  const restoken = jwt.sign({ name: 'imooc' }, 'secret');
            message: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1lIjoiaW1vb2MiLCJpYXQiOjE1OTQzMDc3MjJ9.c0NvMn16hgD5mrRVVt5lMMb81oyKOmRooL3Ejhmyc0w'
          }))
          // 建立连接成功后进入聊天室
          this.ws.send(JSON.stringify({
            event: 'enter',
            message: this.name,
            roomid: this.roomid
          }))
          console.log('open' + this.ws.readyState)

        },
        onMessage(event) {
          //当用户未进入聊天室，则不接受消息
          if (this.isShow) {
            return
          }
          // console.log('message' + this.ws.readyState)
          //把消息放到列表里
          //接收服务端发送过来的消息
          var obj = JSON.parse(event.data)

          switch (obj.event) {
            //鉴权失败的情况处理
            case 'noauth':
              //鉴权失败
              //路由跳转到 /login  重新获取token等，然后再重新this.ws.send 鉴权
              break;
            case 'enter':
              //当有一个新用户进入聊天室
              this.lists.push(`欢迎：${obj.message}加入聊天室`)
              break;
            case 'out':
              this.lists.push(obj.name + '已经推出了聊天室！')
              break;
            case 'heartbeat':
              //客户端检查服务器端，心跳，有请求回来就，清空定时器，没有就断开重新连接websocket服务器
              //时间是 服务端返回心跳的一次时长timeInterval + t0(请求消耗的时间（500-1000ms）)
              this.checkServer()
              //心跳检测
              this.ws.send(JSON.stringify({
                event: 'heartbeat',
                message: 'pong'
              }))
              break;
            default:
              // 不给自己推送消息，由客户端判断
              if (obj.name !== this.name) {
                //接受正常的聊天
                this.lists.push(obj.name + ':' + obj.message)
              }
              break;
          }

          //在线人数
          this.num = obj.num
        },
        onClose() {
          console.log('close' + this.ws.readyState)
          console.log('已关闭websocket')
          //主动断开websocket连接
          this.ws.close()
        },
        onError() {
          console.log('error' + this.ws.readyState)
          console.log('websocket连接失败')
          //连接出错误,失败 的时候发起 重连
          setTimeout(()=>{
            this.init()
          },1000)
        },
        //发送消息
        send() {
          this.lists.push(this.name + ':' + this.message)
          this.ws.send(JSON.stringify({
            event: 'message',
            message: this.message
          }))
          this.message = ''
        },
        //进入聊天室
        enter() {
          if (this.name.trim() === '') {
            alert('用户名不得为空')
            return
          }
          //当用户进入聊天室，才初始化websocket连接
          this.init()
          this.isShow = false
        },
        //心跳检测，重连 服务器
        checkServer(){
          //清空定时器
          clearTimeout(this.handle)
          this.handle = setTimeout(()=>{
            //关闭，重新连接 websocket
            this.onClose()
            setTimeout(()=>{
              this.init()
            },1000)  //断开连接后，1s 再重新连接
          },1000+500)  //收到服务端的请求时间（时间是 服务端返回心跳的一次时长timeInterval + t0(请求消耗的时间（500-1000ms）)）
        }
      }
    })

    // // 断开websocket（客户端主动断开）
    // document.getElementById('app').addEventListener('click', function () {
    //   ws.close()
    // })


    // //发送消息
    // document.getElementById('send').addEventListener('click', function () {

    //   var inputValue = document.getElementById('msg').value
    //   ws.send(inputValue)
    //   document.getElementById('msg').value = ''
    // })

  </script>
</body>

</html>